body{
	margin: 0;
	
}
h2{
	display: inline;
	margin: auto;
	position: absolute;
}
.container{
	align-items: center;
	margin: 0;
}
.nav{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	align-items: center;
	background-color: indianred;
	height: 20px;
	width: 100%;
	padding: 0;
}
.insideNav{
	align-self: center;
	display: inline-block;
	width: 10%;
	margin-left: 20%;
	margin-right: auto;
	margin-top: 0;
	height: inherit;
	background-color: aliceblue;
}